<h1 class="text-center mt-5">Employee Details</h1>
<div >
<table class="table table-white mt-3" style="width:900px;margin-right: 500px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Naveen</td>
        <td>Ulli</td>
        <td>@unk</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sai</td>
        <td>Ulli</td>
        <td>@fb</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Harish</td>
        <td>Chirati</td>
        <td>@HRC</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Bhanu</td>
        <td>Vikram aditya</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Prabhas</td>
        <td>kumar</td>
        <td>@tik</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Jagan</td>
        <td>ycp</td>
        <td>@ysr</td>
      </tr>
    </tbody>
  </table>
</div>