<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/logo.png" alt="logo">
    </a>
    <h1>Welcome Cloudster</h1>
</nav>
<nav class="navbar navbar1 navbar-expand-lg bg">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="btn btn-secondary nav-link" routerLink="/home/homedata">Home</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-secondary nav-link" routerLink="/home/admin">Admin</a>

    </li>
    <li class="nav-item">
      <a class="btn btn-secondary nav-link" routerLink="/home/employees">Employee</a>

    </li>
    <li class="nav-item">
      <a class="btn btn-secondary nav-link" routerLink="/home/form">Form</a>
    </li>
    <li style="margin-left:1000px;" class="nav-item">
      <a class="btn btn-danger nav-link" routerLink="">logout</a>
    </li>

  </ul>


</nav>
