<h2 class="text-center"> welcome admin <h2>

    <div class="jumbotron text-center mt-5 ">
      <h1>Company</h1> 
      <p>CloudCollab Technologies Pvt Ltd is one of the leading product development company that focuses on providing high quality and timely solutions to its customers. We believe in a long term relationship with our customers and help them in fulfilling their product vision.

        Our team members are experts in developing products in the Telecommunications and Networking Industry.</p>
    </div>
    